<body>
    <div class="page">
        <div class="testPage">
            <div class="passage" *ngFor="let p of passages">
                <h5>{{ p.header }}</h5>
                <h4>{{ p.introduction }}</h4>
            </div>
            <div class="passage" *ngFor="let p of paragraphs">
              <ul>
                <li>{{ p.paragraph }}</li>
              </ul>             
            </div> 
        </div>
        <div class="questions">
          <ul *ngFor="let q of questions">
            <li>{{q.question}}</li>
            <ul *ngFor="let a of answers">
              <input type="radio" name="choice">{{a.answer}}
            </ul>
          </ul>
        </div>       
    </div>
</body>






<!-- <ul>
	<li><b>This is from tests in db</b></li>
  <li *ngFor="let test of tests">{{ test.name }} TESTS</li>
</ul>

<ul>
  <li><b>Passages</b></li>
  <li *ngFor="let p of passages">{{ p.name }} PASSAGE Name</li>
  <li *ngFor="let p of passages">{{ p.header }} PASSAGE Header</li>
  <li *ngFor="let p of passages">{{ p.introduction }} PASSAGE Introduction</li>
</ul>

<ul>
  <li><b>Paragraphs</b></li>
  <li *ngFor="let p of paragraphs">{{ p.paragraph }} Paragraphs</li>
</ul>

<ul>
  <li><b>Questions</b></li>
  <li *ngFor="let q of questions">{{ q.question }} Questions</li>
</ul>
<ul>
  <li><b>Answers</b></li>
  <ul>
    <li *ngFor="let a of answers">{{ a.answer }} <br> {{a.correct}} </li>
  </ul>
</ul> -->