
<h1>Works</h1>
<ul>
		<li>This is from the service</li>
    <li *ngFor="let t of studenttest">
        {{ t.id }} <br>
        {{ t.name }} <br>
        {{ t.question_list }}
        {{ t.answer}}
    </li>
</ul>

<ul>
	<li>This is from tests in db</li>
  <li *ngFor="let test of tests">{{ test.name }} TESTS</li>
</ul>

<ul>
	<li>Sections should be below</li>
  <li *ngFor="let s of sections">{{ s.section }} GAP {{ s.test_id }} SECTIONS</li>
</ul>

<ul>
  <li>Passages</li>
  <li *ngFor="let p of passages">{{ p.name }} PASSAGES</li>
</ul>